<div class="container">
<div class="row">
 <div class="col-md-3">
   
<% if @book.errors.any? %>
  <div id="error_explanation">
    <h2><%= @book.errors.count %>件のerrorが発生しました。</h2>
    <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

    <div>
      <h2>User info</h2>
      <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", style: "width: 100px; height: 100px; margin-top: 20px;" %>
      <table class="table">
        <tr>
          <td>name</td>
          <td><%= @user.name %></td>
        </tr>

        <tr>
          <td>introduction</td>
          <td><%= @user.introduction %></td>
        </tr>
        
        <tr>
          <td>follows</td>
          <td><%=link_to "#{@user.followings.count}", follows_user_path(@user.id) %></td>
        </tr>
        <tr>
          <td>followers</td>
          <td><%=link_to "#{@user.followers.count}", followers_user_path(@user.id) %></td>
        </tr>

        <tr>
         <% if current_user != user.id %>
             <% if user.followed_by?(current_user) %>
                 <td><%=link_to "フォロー外す", user_relationships_path(user.id), method: :delete, class: "btn btn-success btn-block" %></td>
             <% else %>
                 <td><%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-success btn-block" %></td>
             <% end %>
         <% end %>
         </tr>
      </table>
      <%= link_to "", edit_user_path(id: @user.id), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
    </div>

    <div>
      <h2>New book</h2>

     <%= form_with model: @book, local: true do |f| %>
      <div class="newform">

       <div class="field">
          <p>Title</p>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <p>Opinion</p>
          <%= f.text_area :body %>
        </div>

        <div class="field">
          <p> <%= f.submit 'Create Book', class: "btn btn-success btn-block" %></p>
        </div>

      <% end %>

      </div>
  </div>
  </div>


